* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0f0f0;
}

nav {
  width: 100%;
  padding: 20px 0;
}

nav > ul {
  display: flex;
  justify-content: center;
}

.nav__title {
  margin: auto;
  list-style-type: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.game__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  width: 100%;
  height: 65vh;

  padding: 20px;
}

.user__input--container {
  width: 100%;
  height: 30vh;
}

.root__container {
  position: relative;
}

.overlay__container {
  position: absolute;
  top: 0;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
